### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*.log

*.db
config.yaml
/api/protobuf/annotations.proto
/api/protobuf/http.proto
/api/protobuf/timestamp.proto

redis.md
middleware.md

/deploy/data
/deploy/grafana_data
/deploy/prometheus_data
/default.etcd/
/deploy/kafka_data
/deploy/kui