### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*.log

*.db
config.yaml
/api/protobuf/annotations.proto
/api/protobuf/http.proto

redis.md
middleware.md

/deploy/data
/deploy/grafana_data
/deploy/prometheus_data
/default.etcd/
/api/protobuf/default.etcd/member/snap/db
/api/protobuf/default.etcd/member/wal/0.tmp
/api/protobuf/default.etcd/member/wal/0000000000000000-0000000000000000.wal
/api/protobuf/*